body {
  background-image: url("./images/github-image.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.card-body {
  background-color: #343a40;
}

.btn-info {
  color: black;
  font-weight: bold;
}
